{% extends "ChallengeBusinessBundle::layout.html.twig" %}

{% block content %}

    <div class="panel">
        <h4>Create a new Business</h4>

        <label>
            Business name:
            <input type="text" id="name" placeholder="Business Name">
        </label>
        <button class="btn" id="newBusinessBtn">Create</button>
    </div>


    <div class="panel">
        <h4>Current businesses (links)</h4>
        <hr>
        {% for business in businesses %}
            <a href="{{ path('business_view',{"id": business.id}) }}">
                <div class="panel">
                    <h5>{{ business.name }}</h5>
                </div>
            </a>
        {% endfor %}
    </div

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/business.js') }}"></script>
{% endblock %}

