{% extends "ChallengeBusinessBundle::layout.html.twig" %}

{% block content %}

    {# Heading #}
    <div class="panel">
        <h4>Business: {{ name }}</h4>
    </div>


    {# Partnerships = relaciones #}
    <div class="panel">

        <h4>Partnerships</h4>

        <a href="{{ path('partnership_create_view') }}">
            <button class="btn">Create a new partnership</button>
        </a>

        {% if partnerships %}

            {# Button bars filter and ordering #}

            <div class="button-bar">
                <ul class="button-group round">
                    <li><a href="?order=name"
                           class="small button secondary {% if order == "name" %}disabled{% endif %}">Order
                            by: name</a></li>
                    <li><a href="?order=type"
                           class="small button secondary {% if order == "type" %}disabled{% endif %}">Order
                            by: type</a></li>
                </ul>
                <ul class="button-group round">
                    <li><a href="?filter=clients"
                           class="small button secondary {% if filter == "clients" %}disabled{% endif %}">Filter: Only
                            Clients</a></li>
                    <li><a href="?filter=providers"
                           class="small button secondary {% if filter == "providers" %}disabled{% endif %}">Filter: Only
                            Providers</a></li>
                </ul>

                <ul class="button-group round">
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                           class="small button secondary">Reset</a></li>
                </ul>
            </div>

            {# Results table #}

            <table>
                <thead>
                <tr>
                    <th width="400">Business</th>
                    <th width="400">Relation</th>
                </tr>
                </thead>

                <tbody>

                {% for partnership in partnerships %}
                    <tr>
                        <td>{{ partnership.destinationBusiness.name }}</td>
                        <td>{{ partnership.type }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        {% else %}
            <p>There are no partnerships for this business!</p>
        {% endif %}

    </div>

    {# Agreements = acuerdos #}
    <div class="panel">

        <h4>Agreements with other businesses:</h4>

        <a href="{{ path('agreement_create_view') }}">
            <button class="btn">Create a new agreement</button>
        </a>

        {% if agreements %}

            {% for agreement in agreements %}

                <div class="panel">
                    <strong>{{ agreement.agreement.relatedBusiness.name }}</strong> -->

                    {{ agreement.agreement.sourceBusiness.name }} -->

                    {% for agreementLink in agreement.agreementLinks %}
                        {{ agreementLink.business.name }}
                        {% if not loop.last %}
                            -->
                        {% endif %}
                    {% endfor %}

                </div>

            {% endfor %}

        {% endif %}

    </div>

{% endblock %}