{% extends "ChallengeBusinessBundle::layout.html.twig" %}

{% block content %}

    <div class="panel">
        <h1>Create a new Partnership</h1>

        <label>
            Source Business:
            <select id="sourceBusiness"></select>
        </label>

        <label>
            Destination Business:
            <select id="destinationBusiness"></select>
        </label>

        <label>
            Partnership type:
            <select id="partnershipType"></select>
        </label>

        <button class="btn" id="newPartnershipBtn">Create</button>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/partnership.js') }}"></script>
{% endblock %}

