{% extends "ChallengeBusinessBundle::layout.html.twig" %}

{% block content %}

    <div class="panel">
        <h4>Create a new Agreement</h4>

        <label>
            Source Business (the business creating the agreement)
            <select id="sourceBusiness"></select>
        </label>

        <div id="relatedBusinessBlock" style="display: none;">
            <label>
                Related Business (the other part of the agreement)
                <select id="relatedBusiness"></select>
            </label>
        </div>


        <ul id="impliedBusinessesList">

        </ul>


        <div id="impliedBusinessBlock" class="panel" style="display: none;">
            <label>
                Implied business (descending by your partners tree)
                <select id="impliedBusiness"></select>
            </label>

            <button class="btn" id="addImpliedBusinessBtn">Add as implied business</button>
        </div>


        <button class="btn" id="newAgreementBtn">Save agreement</button>


    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/agreement.js') }}"></script>
{% endblock %}

