{% extends "ChallengeBusinessBundle::layout.html.twig" %}

{% block content %}
    <div class="panel">
        <p>Bienvenido a la página de inicio del reto de código de Dokify!</p>

        <h4>Documentación</h4>
        <hr>

        <p>A continuación describo la funcionalidad implementada y las herramientas utilizadas.</p>

        <h4>Plataforma tecnológica:</h4>
        <ul>
            <li>Framework Symfony2</li>
            <li>ORM Doctrine</li>
            <li>MySQL</li>
            <li>jQuery</li>
            <li>FOS JS Router bundle</li>
            <li>Foundation5</li>
            <li>Gestión de dependencias con Composer</li>
        </ul>

        <hr>

        <h4>Diseño</h4>
        <p>Se ha implementado todo el ejercicio como un único Bundle de symfony (por motivos de tiempo y legibilidad).</p>
        <p>Se han creado las siguientes entidades para dar soporte al problema</p>

        <ul>
            <li>Business - representa a las empresas.</li>
            <li>Partnership - representa una 'conexión' entre dos empresas (esta puede ser de cliente, de proveedor o ambos casos)</li>
            <li>Agreement - representa un 'acuerdo' entre dos empresas</li>
            <li>Agreement Link - representa de manera ordenada a cada una de las empresas implicadas en un 'acuerdo'</li>
        </ul>

        <p><strong>Nota:</strong> Todas las acciones se llevan a cabo por medio de llamadas AJAX.</p>

        <hr>

        <h4>Páginas y sus funciones</h4>

        <p>
            <strong>1.Landing:</strong> Esta página informativa
        </p>
        <p>
            <strong>2.Businesses (list & new)</strong> Es la página que permite ver (y acceder) a las páginas individuales
            de cada empresa así como crear empresas nuevas.
        </p>
        <p>
            <strong>2.bis Página individual de empresa</strong> Es la página que permite ver las relaciones y acuerdos de una determinada empresa.
        </p>
        <p>
            <strong>3.New Partnership: </strong>Es la página desde la que se pueden crear nuevas relaciones (cliente/proveedor) entre empresas.
        </p>
        <p>
            <strong>4.New Agreement: </strong>Es la página desde la que se pueden crear nuevos acuerdos entre empresas.
        </p>

        <hr>

        <h4>Comentario sobre la interpretación del supuesto:</h4>

        <p>Finalmente he implementado el modelo de los "acuerdos" del siguiente modo.</p>
        <p>Un acuerdo vincula a una empresa (source en la entidad 'agreement') con una de sus empresas relacionadas
            (es decir, una empresa con la que comparte un 'partnership').</p>
        <p>A esta vinculación se suma la de otras empresas ('implied' a través de la entidad AgreementLink) que se pueden elegir de
            entre las vinculadas a la primera empresa ('source') y siempre descendiendo a través de los vínculos entre ellas.</p>

        <p>La representación es la siguiente</p>

        <ul>
        <li>#Empresa A (partner de B) --></li>
        <li>#Empresa "Source" (La que da origen al acuerdo) --></li>
        <li>---------------------------------------------------</li>
        <li>#Empresa B (partner de "source")</li>
        <li>#Empresa C (partner de B)</li>
        <li>#Empresa D (partner de C)</li>
        <li>...</li>
        </ul>


    </div>
{% endblock %}

