<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}"/>
    <script src="{{ asset('js/vendor/modernizr.js') }}"></script>
</head>
<body>


{% block header %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Dokify code challenge</h3>
        </div>

        {# Navigation #}
        <div class="panel">
            <a href="{{ path('challenge_business_landing_index') }}">Landing</a> |
            <a href="{{ path('challenge_business_business_new') }}">Businesses (list & new)</a> |
            <a href="{{ path('partnership_create_view') }}">New Partnership</a> |
            <a href="{{ path('agreement_create_view') }}">New Agreement</a>
        </div>

    </div>
{% endblock %}


<div class="row">
    <div class="large-12 columns">
        {% block content %}{% endblock %}
    </div>
</div>


<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset('js/foundation.min.js') }}"></script>

{# FOS JS Router #}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{# Custom JS #}
{% block javascript %}{% endblock %}

<script>
    $(document).foundation();
</script>
</body>
</html>
